:root{
    --main-color: #BB976D;
}
.order-card{

border:1px solid #eee;
border-radius:12px;
padding:20px;
background:white;

transition:.3s;

}

.order-card:hover{

box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.order-header{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:15px;

}

.order-status{

font-size:14px;
padding:5px 10px;
border-radius:6px;

}

.status-pending{

background:#fff3cd;
color:#856404;

}

.status-completed{

background:#d4edda;
color:#155724;

}

.order-product{

display:flex;
justify-content:space-between;
margin-bottom:5px;

}

.order-total{

font-weight:600;
margin-top:10px;

}

.order-btn{
    background-color: var(--main-color);
    color: #eee;
}
.order-btn:hover{
     background-color: var(--main-color);
    color: #eee;
}