body {
    overflow-x: hidden;
}

.img-wrapper {
    max-height: 600px;
    height: 100%;
}

.img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

input {
    padding: 10px !important;
}

::placeholder {
    opacity: 0.8 !important;
}

.register-text {
    margin-top: 10px;
}